.board {
    width: 300px;
    margin: 0 auto;
    color: whitesmoke;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #152942;
  }
  